*.pyc
*.pyo
*.mo
versionslastprod2.cfg
pip-selfcheck.json
/bin
/devsrc/
/parts/
/var/
/src/*.egg-info
.mrsd
/*eggs/
.*.cfg
/coverage/
/.project
/.pydevproject
/.settings/
/local/
/lib/
/include/
/dist/
/.Python
/buildout-cache/
